{% extends 'base.html' %}
{% load static %}

{% block nombre_pantalla %}
<h3><a class="text-decoration-none" href="{% url 'situacionesadms:selecciona_interno' %}">
        <i class="text-info h3 fas fa-angle-left ml-1"></i></a>
    Editar {{ title }}</h3>
{% endblock %}

{% block contenido %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <strong class="center">Funcionario: {{ solicitud.empleado.nombre_completo }}</strong>
        <em><small>Fecha Inicial actual: {{ solicitud.fecha_i |date:"M d, Y" }} -
             Fecha Final actual: {{ solicitud.fecha_f |date:"M d, Y" }}</small></em>
       
        <form action="{% url 'situacionesadms:editar_interno' slug solicitud.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {% include 'situacionesadms/basicform.html' %}
            </div>
            {% for field in form %}
            {% if field.id_for_label in "id_fecha_i id_fecha_f" %}
            <!--includes arriba y abajo-->
            {% else %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <br>
            <div class="form-group">
                <button class="btn btn-dark btn-block" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
