{% extends 'base.html' %}
{% load static %}

{% block nombre_pantalla %}
<h3><a class="text-decoration-none" href="{% url 'users:inicio' %}">
        <i class="text-info h3 fas fa-angle-left ml-1"></i></a>
    Reintegros Entrantes
</h3>
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table tabla-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">No.</th> <!-- col 1 -->
                        <th scope="col">SITUACION ADMINISTRATIVA</th> <!-- col 2 -->
                        <th scope="col">ESTADO</th> <!-- col 3 -->
                        <th scope="col">FUNCIONARIO</th> <!-- col 4 -->
                        <th scope="col">FECHA</th> <!-- col 5 -->
                    </tr>
                </thead>
                <tbody>
                    {%if rlistado %}
                    {% for soli in rlistado %}
                    <tr>
                        <th scope="row">{{ soli.id }}</th> <!-- col 1 -->
                        <td><a href="" class="text-secondary">
                                reintegro de {{soli.situacion}}
                            </a>
                        </td> <!-- col 2 -->
                        <td>{% for item in seguimiento %}
                            {% if item.0 == soli.seguimiento %}
                            {{ item.1}}
                            {% endif %}
                            {% endfor %}
                        </td> <!-- col 3 -->
                        <td>{{ soli.situacion.empleado.nombre_completo }}</td> <!-- col 4 -->
                        <td>{{ soli.fecha_creacion|date:"SHORT_DATE_FORMAT" }}</td> <!-- col 5 -->
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5"><em>Nada para mostrar...</em></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <br>
        <small><em class="text-secondary">páginas</em></small>
        <br class="my-1">
        <div class="">


        </div>
    </div>
</div>

{% endblock %}