{% extends 'base.html' %}
{% load static %}


{% block nombre_pantalla %}
<h4>Mis Solicitudes</h4>
{% endblock %}
{% block contenido %}
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Situación Administrativa</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">opciones</th>
        </tr>
    </thead>
    <tbody>
        {%if solicitudes %}
        {% for soli in solicitudes %}
        <tr>
            <th scope="row">{{ soli.id }}</th>
            <td>{{ soli.situacion }}</td>
            <td>{% for item in estados %}
                {% if item.0 == soli.estado %}
                {{ item.1}}
                {% endif %}
                {% endfor %}</td>
            <td>{{ soli.fecha_creacion|date:"SHORT_DATE_FORMAT" }}</td>
            <td><a href="#" class="btn btn-warning btn-sm">Modificación</a>
                <a href="#" class="btn btn-warning btn-sm">Corrección</a>
                <a href="#" class="btn btn-primary btn-sm">Reintegro</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <em>no hay solicitudes</em>
        {% endif %}
    </tbody>
</table>
<br>
<small class="text-muted">páginas</small>
<hr class="my-1">
<div class="">
    
    {% if solicitudes.has_previous %}
    <a href="?page=1" class="btn btn-sm"><i class="text-warning fas fa-angle-double-left"></i></a>
    <a href="?page={{page|add:'-1'}}" class="btn btn-sm"> <i class="text-warning fas fa-angle-left"></i> </a>
    {%  endif %}

    {% for num in solicitudes.paginator.page_range %}
    {% if solicitudes.number == num %}
    <a href="?page={{ num }}" class="btn btn-sm institucional">
        <b>{{ num }}</b>
    </a>
    {% elif num > solicitudes.number|add:'-3' and num < solicitudes.number|add:'3' %}
    <a href="?page={{ num }}" class="btn btn-sm text-dark">
        {{ num }}
    </a>
    {% endif %}

    {% endfor %}

    {% if solicitudes.has_next %}
    <a href="?page={{page|add:1}}" class="btn btn-sm"> <i class="text-warning fas fa-angle-right"></i> </a>
    <a href="?page={{ solicitudes.paginator.num_pages }}" class="btn btn-sm"><i class="text-warning fas fa-angle-double-right"></i></a>
    {% endif %}
    
</div>



{% endblock %}