{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<h3><a class="text-decoration-none" href="{% url 'users:inicio' %}">
        <i class="text-info h3 fas fa-angle-left ml-1"></i></a>
    Solicitudes Entrantes
</h3>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">No.</th> <!-- col 1 -->
                    <th scope="col">SITUACION ADMINISTRATIVA</th> <!-- col 2 -->
                    <th scope="col">ESTADO</th> <!-- col 3 -->
                    <th scope="col">FUNCIONARIO</th> <!-- col 4 -->
                    <th scope="col">FECHA</th> <!-- col 5 -->
                </tr>
            </thead>
            <tbody>
                {%if solicitudes %}
                {% for soli in solicitudes %}
                <tr>
                    <th scope="row">{{ soli.id }}</th> <!-- col 1 -->
                    <td><a href="{% url 'situacionesadms:revision_solicitud' soli.pk %}" class="text-secondary">
                            {{ soli.situacion }}
                        </a>
                    </td> <!-- col 2 -->
                    <td>{% for item in estados %}
                        {% if item.0 == soli.estado %}
                        {{ item.1}}
                        {% endif %}
                        {% endfor %}
                    </td> <!-- col 3 -->
                    <td>{{ soli.empleado.nombre_completo }}</td> <!-- col 4 -->
                    <td>{{ soli.fecha_creacion|date:"SHORT_DATE_FORMAT" }}</td> <!-- col 5 -->
                </tr>
                {% endfor %}
                {% else %}
                <em>no hay solicitudes</em>
                {% endif %}
            </tbody>
        </table>
        <br>
        <small class="text-muted">páginas</small>
        <hr class="my-1">
        <div class="">

            {% if solicitudes.has_previous %}
            <a href="?page=1" class="btn btn-sm"><i class="text-warning fas fa-angle-double-left"></i></a>
            <a href="?page={{page|add:'-1'}}" class="btn btn-sm"> <i class="text-warning fas fa-angle-left"></i> </a>
            {%  endif %}

            {% for num in solicitudes.paginator.page_range %}
            {% if solicitudes.number == num %}
            <a href="?page={{ num }}" class="btn btn-sm institucional">
                <b>{{ num }}</b>
            </a>
            {% elif num > solicitudes.number|add:'-3' and num < solicitudes.number|add:'3' %}
            <a href="?page={{ num }}" class="btn btn-sm text-dark">
                {{ num }}
            </a>
            {% endif %}

            {% endfor %}

            {% if solicitudes.has_next %}
            <a href="?page={{page|add:1}}" class="btn btn-sm"> <i class="text-warning fas fa-angle-right"></i> </a>
            <a href="?page={{ solicitudes.paginator.num_pages }}" class="btn btn-sm"><i
                    class="text-warning fas fa-angle-double-right"></i></a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}