{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block nombre_pantalla %}
<h3><a class="text-decoration-none" href="{% url 'users:inicio' %}">
        <i class="text-info h3 fas fa-angle-left ml-1"></i></a>
    Estadísticas</h3>
{% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-6">
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Número de Situaciones Administrativas por tipo Aprobadas</h5>
                <ul class="list-group list-group-flush">
                    {% for situacion in total_tipo %}
                    <li class="list-group-item">{{situacion.nombre}}: {{situacion.cantidad}}
                        <em>{{situacion.porcentaje|floatformat:2}}%</em>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card m-2">
            <div class="card-body">
                <h5 class="card-title">Total Situaciones Aprobadas</h5>
                <h4 class="card-text">{{total}}</h4>
            </div>
        </div>
        <div class="card m-2">
            <div class="card-body">
                <a href="{% url 'estadisticas:ultimos_encargos' %}" class="btn btn-warning">Lista Encargos</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}