{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-6">
        <form action="{% url 'users:entrar' %}" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Iniciar sesión</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-dark" type="submit">Entrar</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}