{% extends 'base.html' %}

{% block contenido %}

<!--Opciones inicio-->
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <h2></h2>
    </div>
</div>  
{% if user.empleado %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
        <a href="{% url 'situacionesadms:selecciona' %}" class="btn btn-dark btn-lg btn-block">Solicitar</a>
    </div>
</div>
<br>

    {% if user.empleado.tipo_acceso != 1 %}
    <div class="row justify-content-center mt-2">
        <div class="col-md-6 text-center">
            <a href="{% url 'situacionesadms:solicitudes_entrantes' %}" class="btn btn-secondary btn-lg btn-block">Solicitudes
                Entrantes</a>
        </div>
    </div>
    {% endif %}
    {% if user.empleado.tipo_acceso in permisos_interno %}
<div class="row justify-content-center mt-2">
    <div class="col-md-6 text-center">
        <a href="{% url 'situacionesadms:selecciona_interno' %}" class="btn btn-secondary btn-lg btn-block">Formato
            Interno</a>
    </div>
</div>
{% endif %}
{% else %}
<p>perfil incompleto, comuníquese con el administrador</p>
{% endif %}


{% endblock %}