{% extends 'base.html' %}
{% load static %}

{% block nombre_pantalla %}
<h3><a class="text-decoration-none" href="{% url 'users:inicio' %}">
        <i class="text-info h3 fas fa-angle-left ml-1"></i></a>
        <i class="mx-2 fas fa-user"></i>Perfil</h4>
{% endblock %}
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    Funcionario
                </div>
                <div class="card-subtitle mb-2 text-muted">

                </div>
                <div class="card-text">
                    Cédula: {{ user.username }} <br>
                    Nombre: {{ user.first_name }} <br>
                    Apellido: {{ user.last_name }} <br>
                    Cargo: {{ user.empleado.cargo }} <br>
                    Sede/Dependencia: {{ user.empleado.sede_dependencia }} <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}